apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-api
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-api
  template:
    metadata:
      labels:
        app: catalog-api
    spec:
      containers:
        - name: catalog-api
          image: ghanem22/catalog-api:latest
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Development"
            - name: ASPNETCORE_URLS
              value: "http://+:80"
            - name: ConnectionStrings__DefaultConnection
              value: "Server=catalog-db;Port=5432;Database=catalog;User Id=postgres;Password=postgres;Include Error Detail=true"
          ports:
            - containerPort: 80
