name: Build the Images

on:
   push:
      branches: [main]
   workflow_dispatch:

env:
   REGISTRY: docker.io
   IMAGE_PREFIX: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
   build:
      runs-on: ubuntu-latest

      strategy:
         fail-fast: false
         matrix:
            include:
               - name: catalog-api
                 dockerfile: "src/Services/Catalog.API/Dockerfile"
               - name: basket-api
                 dockerfile: "src/Services/Basket.API/Dockerfile"
               - name: ordering-api
                 dockerfile: "src/Services/Ordering/Ordering.API/Dockerfile"
               - name: discount-grpc
                 dockerfile: "src/Services/Discount.Grpc/Dockerfile"
               - name: api-gateway
                 dockerfile: "src/ApiGateway/Dockerfile"
               - name: shopping-web
                 dockerfile: "src/WebApps/Shopping.Web/Dockerfile"

      steps:
         - name: Checkout Code
           uses: actions/checkout@v4

         - name: Setup Qemu
           uses: docker/setup-qemu-action@v3

         - name: Setup Docker Buildx
           uses: docker/setup-buildx-action@v3

         - name: Login to Dockerhub
           uses: docker/login-action@v3
           with:
              registry: ${{ env.REGISTRY }}
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}

         - name: Build & Push Image
           uses: docker/build-push-action@v5
           with:
              context: .
              file: ${{ matrix.dockerfile }}
              platforms: linux/amd64,linux/arm64
              push: true
              tags: |
                 ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}/${{ matrix.name }}:latest
                 ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}/${{ matrix.name }}:${{ github.sha }}
              cache-from: type=gha
              cache-to: type=gha,mode=max
